body{
    background-color: rgb(244, 244, 244);    
}

#header-container{
    background-color: #0B3A7A;
}

#filters-container h5{ 
    color: rgb(70, 70, 70)
}

.amenities, .stars{
    height: 25px;
    width: 25px;
}

.hotel-card{    
    background-color: white;
}

.price{
    color: rgb(224, 104, 0);
}

.price-text{
    color: rgb(70, 70, 70);
}